@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/* --- RESET --- */
* {
    box-sizing: border-box;
  }
  html {
    font-family: 'DM Sans', sans-serif;
  }
  body{
    margin: 0;
  }
  h1, h2, h3, h4, p, ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  input {
    outline: none;
    font-family: inherit;
  }
  button {
    border: none;
    font-family: inherit;
    background-color: salmon;
  }
  select {
    font-family: inherit;
  }
  img {
    width: 100%;
  }

  a{
    text-decoration: none;
    color: inherit;
  }