/* -----------------COLORES ----------------- */

:root {
    --color-sub_menu1: #6B3DBB;
    --color-letter-text: #ebf2ff;
    --color-brand: white;
    --color-bottom: #6B3DBB;
    --color-hover: #333333;
    --colo-superposition: black;
    --max--width-screen: 2400px;
}

#plans-container.principal__package {
    min-height: 300px; /* Ajusta este valor según el tamaño de tus planes */
}


@font-face {
    font-family: DM Sans, sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap') format('woff2');
    font-display: swap;
}



/*--------------- BANNER PRINCIPAL ---------------*/

.principal__banner{
    color: var(--color-letter-text);

}

button.principal__btn__banner {
    min-width: 200px; /* Establece un tamaño mínimo */
}


#plans-container {
    min-height: 300px; /* Establecer un valor que se aproxime al tamaño esperado */
}

.article__with__img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 800px; /* Ajusta la altura máxima según sea necesario */
    overflow: hidden;
    aspect-ratio: 16 / 9;
  }
  
  .article__with__img img.banner__web {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
    display: block;
    object-fit: cover;
  }
  
  .article__with__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro con opacidad del 80% */
    z-index: 0; /* Asegura que el fondo oscuro esté detrás de la imagen */
  }
  

.info__banner{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

.info__text__list{
    display: flex;
    gap: 1.5rem;
}

.check__blue{
    width: 25px;
    height: 25px;
}

.icon__infor__list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2rem;
    font-weight: bold;
    font-size: 15px;
    font-display: swap;
}

.principal__price__banner{
    font-weight: bold;
    font-size: 40px;
    color: var(--color-letter-text);
    font-display: swap;
}

.principal__price__banner>span{
    font-weight: bold;
    font-size: 20px;
    color: var(--color-letter-text);
}

.btn__price{
    color: var(--color-letter-text);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.principal__btn__banner{
    width: 200px;
    height: 40px;
    color: var(--color-sub_menu1);
    background-color: var(--color-letter-text);
    border-radius: 5px;
    font-weight: bold;
    transition: ease-in .4s;
}

.principal__btn__banner:hover{
    background-color: var(--color-hover);
    color: var(--color-letter-text);
    transform: scale(1.05);
}

.banner__img__small{
    display: none;
}

.banner__img__small img {
    width: 100%;
    height: auto;
    aspect-ratio: 600 / 400; 
}

/* ------------------PLANS SECTIONS------------------- */

.principal__package{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 1em;
}

.card__plan{
    border: 1px solid var(--color-bottom);
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}

/* estilos adicionales  */
/* estilos adicionales  */
/* estilos adicionales  */

.package {
    width: 300px;
    height: 500px;
    background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
    border-radius: 0px;
    text-align: center;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    
  }
  
  .package:hover {
    box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
  }
  
  .package2 {
    width: 100%; /* Adjust width to fit within .package */
    height: 100%; /* Adjust height to fit within .package */
    background-color: var(--color-brand);
    border-radius: 0px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    border: solid 1px var(--color-bottom);
  }
  
  .package2:hover {
    transform: scale(0.98);
    border-radius: 0px;
  }
  
  .text {
    color: var(--color-sub_menu1);
    font-size: 17px;
  }

  .btn__chose-container{
    display: flex;
    align-items:flex-end;
    justify-content: center;
  }

.section__description{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0, 10em;
  }
  
  
/* estilos adicionales  */
/* estilos adicionales  */
/* estilos adicionales  */
/* estilos adicionales  */


.card__plan:hover{
    scale: 1.01;
}

.card__plan_midle{
    border: 1px solid var(--color-hover);
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-top: 50px;
}


.title__plan__info{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-bottom);
}

.bg__color__plan{
    width: auto;
    background-color: var(--color-sub_menu1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
    color: var(--color-brand);
}


.price__plan1{
    font-size: 20px;
    font-weight: bold;
}

.month__currenty{
    font-weight: 400;
    font-size: 30px;
}

.btn__plan__configure{
    width: 180px;
    height: 40px;
    background-color: transparent;
    border: 3px solid var(--color-hover);
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-sub_menu1);
    font-weight:500;
    transition: ease-in .4s;
}

.btn__plan__configure:hover{
    background-color: var(--color-hover);
    border: 1px solid var(--color-hover);
    color: var(--color-letter-text);
    font-size: 20px;
    transform: scale(1.05);
}

.check__plans{
    display: flex;
    padding-left: 20px;
    align-items:flex-start;
    text-align:start;
}


.check__plans:hover{
    background-color: var(--color-bottom);
    color: var(--color-brand);
}

.features__section{
    display: flex;
    flex-direction: column;
    height: 200px;
}

.description-text-donhoster{
    text-align: center;
    max-width: 1260px;
    padding: 1em;
}

.style__features{
    margin: 1px;
}

/* ------------------------WHAT WE DO SECTION -------------------*/

.business-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.subtitle-business{
    font-size: 20px;
    text-align: center;
    min-width: 300px;
    margin: 10px;
}

.What__We__Do{
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.image__relative {
    position: absolute;
    width: 100%;
    max-height: 1800px; /* Ajusta la altura máxima según sea necesario */
    overflow: hidden;
  }


.image__relative img.banner__web1 {
    width: 100%;
    height: 1600px;
    z-index: 1; /* Asegura que la imagen esté por encima del fondo oscuro */
  }

.image__relative::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro con opacidad del 80% */
    z-index: 0; /* Asegura que el fondo oscuro esté detrás de la imagen */
  }

.first__component{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: relative;
    z-index: 2;
    max-width: 1500px;
    color: var(--color-letter-text);
}

.icon__service__why{
    width: 90px;
}

.subtitle-server{
    color: white;
    z-index: 9999;
}

.icon__info__section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    max-width: 400px;
    text-align: center;
    font-size: 14px;
    gap: 1rem;
}

.title__inf__description{
    font-size: 18px;
    font-weight: bold;
}



/* ---------------------FOOTER---------------------- */

.principal__footer{
    background-color: var(--color-sub_menu1);
    color: var(--color-letter-text);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.quick__menu{
    font-size: 20px;
    font-weight: bold;
    color: var(--color-letter-text);
}

.menu__footer__section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5em;
}

.Footer__menu__social{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.list__principal__footer {
    /* Estilos de tu elemento */
    /* Por ejemplo: */
    border-bottom: 1px solid transparent; /* Línea invisible inicialmente */
    transition: border-bottom 0.3s ease; /* Transición para suavizar el cambio */
}

.list__principal__footer:hover {
    border-bottom: 1px solid var(--color-letter-text); /* Línea visible al pasar el cursor */
    /* O cualquier otro color o estilo de línea que desees */
}

.circle__social__media{
    border: 1px solid var(--color-letter-text);
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    width: 45px;
    height: 45px;
}

.logo_social{
    width: 25px;
    object-fit: contain;
}

.info__social__l{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ---- WHY DON HOSTER STYLES ---- */
/* ---- WHY DON HOSTER STYLES ---- */

.btn_learn_more{
    width: 150px;
    height: 50px;
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: 600;
    color: var(--color-letter-text);
    background-color: var(--color-bottom);
    margin-top: 20px;
    margin-bottom: 20px;
  }

.animatin,
.animatin_reverse {
  opacity: 0;
  transform: translateY(50px); 
  transition: opacity 1s ease-out, transform 1s ease-out; 
}

.animatin_reverse {
  transform: translateY(-50px);
}

.animate-scroll {
  opacity: 1;  
  transform: translateY(0);  
}

.principal__whydonhoster{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-bottom);

}

.title__why{
    color: var(--color-letter-btn);
    font-size: 23px;
    margin-top: 1em;
}

.color__why{
    color: var(--color-btn);
}

.principal__info_why{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2em;
    margin-bottom: 2em;
}

.icon__whydondonhoster{
    width: 90px;
    height: 90px;
}

.info__why__donhoster{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon__info_why{
    width: 80px;
}

.title__info__why{
    color: var(--color-blur-icon);
}


.info__description{
    text-align: center;
    margin-top: 0.4em;
    color: var(--color-letter-btn);
}

.icon__banner__desktop{
    display: none;
}

@media (width >= 700px) {

    .title__why{
        font-size: 40px;
        margin-bottom: 1em;
    }

    .principal__info_why{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .first__section__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12rem;
    }

    .info__why__donhoster{
        flex-direction: row-reverse;
        align-items: center;
        gap: 2rem;
    }

    .info__why__reverse{
        flex-direction: row;
    }

    .icon__banner__desktop{
        display: block;
        width: 220px;
        border: 1px solid var(--color-bottom);
        border-radius: 50%;
    }

    .info__description{
        width: 400px;
    }

    .info__description{
        text-align: end;
    }

    .text__info__reverse{
        text-align: start;
    }

    .icon__border__info{
        border: 1px solid var(--color-bottom);
        border-radius: 50%;
        padding: 1.5rem;
        animation: shine 2s infinite;
    }

    .line__border4::before {
        content: '';
        position: absolute;
        top: -16%;
        left: -3%;
        width: 3px;
        height: 51%;
        background-color: var(--color-bottom);
        animation: shine 2s linear infinite;
        transform: translateX(-10%) rotate(125deg);
      }

      .line__border3::before {
        content: '';
        position: absolute;
        top: 65%;
        left: -3%;
        width: 3px;
        height: 51%;
        background-color: var(--color-bottom);
        animation: shine 2s linear infinite;
        transform: translateX(-10%) rotate(-125deg);
      }

      .line__border2::before {
        content: '';
        position: absolute;
        top: -21%;
        left: 102%;
        width: 3px;
        height: 51%;
        background-color: var(--color-bottom);
        animation: shine 2s linear infinite;
        transform: translateX(-10%) rotate(-125deg)
      }
      .line__border1::before {
        content: '';
        position: absolute;
        top: 70%;
        left: 102%;
        width: 3px;
        height: 51%;
        background-color: var(--color-bottom);
        animation: shine 2s linear infinite;
        transform: translateX(-10%) rotate(125deg);
      }

    @keyframes shine {
        0% {
          box-shadow: 0 0 10px transparent; /* Cambia la sombra inicial */
        }
        50% {
          box-shadow: 0 0 20px var(--color-bottom); /* Aumenta la sombra para simular el brillo */
        }
        100% {
          box-shadow: 0 0 10px transparent; /* Vuelve a la sombra inicial */
        }
      }

}

/* -----DATACENTER MAPA------ */
/* -----DATACENTER MAPA------ */
/* -----DATACENTER MAPA------ */

.principal__USAOutlineMap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5em;
    padding-bottom: 2em;
    width: 100%;
}

.location_title{
    font-size: 40px;
    font-weight: bold;
    color: var(--color-letter-btn);
}

.info__location{
    color: var(--color-letter-btn);
     max-width: 1100px;
    margin-bottom: 2em;
    padding: 1rem;
    text-align: center;
}

.color__location{
    color: var(--color-btn);
}

.usa-outline{
    position: absolute;
    left: 0;
}

.usa-map-container{
    width: 100%;
    height: 280px;
}

.location__icon__btn{
    color: var(--color-btn);
    font-size: 40px;
    position: relative;
    left: 22%;
    top: 25%;
    z-index: 1;
    filter: drop-shadow(0 0 10px transparent); 
    animation: shadow-shine 2s linear infinite; 
}

@keyframes shadow-shine {
  0% {
    filter: drop-shadow(0 0 10px transparent); 
  }
  50% {
    filter: drop-shadow(0 0 5px var(--color-letter-btn)); /* Aumenta el tamaño y cambia el color de la sombra */
  }
  100% {
    filter: drop-shadow(0 0 10px transparent); /* Vuelve a la sombra inicial */
  }
}

@media (width >= 700px) {
    
    .usa-outline{
        position: absolute;
        left: 32%;
        width: 700px;
        }
        
        .usa-map-container{
        width: 100%;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        
        .location__icon__btn{
            color: var(--color-btn);
            font-size: 40px;
            position: relative;
            left: 11%;
            top:30%;
            z-index: 1;
            filter: drop-shadow(0 0 10px transparent); 
            animation: shadow-shine 2s linear infinite; 
        }

}

/* ------------------MEDIA QUERY PANTALLAS GRANDES--------------------------- */

@media (width >= 700px) {

    /* BANNER PRINCIPAL */
    .info__banner{
        margin-left: 300px;
        max-width: 500px;
        padding: 2em;
    }
    
    .btn__price {
        margin-top: 20px;
    }

    .info__text__list {
        justify-content: flex-start;
    }

    .imagen__and__banner{
        display: flex;
        flex-direction: column;
        padding: 0;

    }

    .banner__img__small{
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:absolute;
        top: 40%;
        left: 70%;
        transform: translate(-50%, -50%);
        z-index: 2; 
    }




    .icon__shield {
        width: 50px;
        height: 50px; 
        object-fit: contain;
      }


    .imagen__and__banner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: auto;
    }


    .icon__info__details{
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    .image__server{
        width: 100px;
    }

    .border__icon{
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-bottom);
        padding: 0.5rem;
        border-radius: 50%;
        aspect-ratio: 1;
    }

    /* ------------------------WHAT WE DO SECTION -------------------*/
.business-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.subtitle-business{
    font-size: 30px;
}

.What__We__Do{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.image__relative {
    position: absolute;
    width: 100%;
    max-height: 800px; /* Ajusta la altura máxima según sea necesario */
    overflow: hidden;
  }


.image__relative img.banner__web1 {
    object-fit:fill;
    width: 100%;
    height: 600px;
    display: block;
    z-index: 1; /* Asegura que la imagen esté por encima del fondo oscuro */
  }

.image__relative::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro con opacidad del 80% */
    z-index: 0; /* Asegura que el fondo oscuro esté detrás de la imagen */
  }

.first__component{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: relative;
    z-index: 2;
    max-width: 1500px;
    color: var(--color-letter-text);
}

.icon__service__why{
    width: 90px;
    height: 90px;
}



.icon__info__section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    max-width: 400px;
    text-align: center;
    font-size: 14px;
    gap: 1rem;
}

.title__inf__description{
    font-size: 18px;
    font-weight: bold;
}

.plans_section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin-top: 100px;
    gap: 2rem;
}


}

